NET "A<0>" LOC = "T10";
NET "A<1>" LOC = "T9";
NET "A<2>" LOC = "V9";
NET "A<3>" LOC = "M8";
NET "B<0>" LOC = "N8";
NET "B<1>" LOC = "U8";
NET "B<2>" LOC = "V8";
NET "B<3>" LOC = "T5";
NET "SUM<0>" LOC = "U16";
NET "SUM<1>" LOC = "V16";
NET "SUM<2>" LOC = "U15";
NET "SUM<3>" LOC = "V15";
NET "SUM<4>" LOC = "M11";
