//! **************************************************************************
// Written by: Map M.81d on Thu Oct 12 18:02:44 2017
//! **************************************************************************

SCHEMATIC START;
COMP "anodes_sortie<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodes_sortie<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodes_sortie<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodes_sortie<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "sevenseg_sortie<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "sevenseg_sortie<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "sevenseg_sortie<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "sevenseg_sortie<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sevenseg_sortie<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "sevenseg_sortie<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "sevenseg_sortie<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "switch<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "switch<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "switch<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "switch<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "switch<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "switch<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "switch<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "P3" LEVEL 1;
SCHEMATIC END;

